*/.animated {
    animation-duration: 2s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 2s
}

.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s
}

.animated.flipOutX,
.animated.flipOutY {
    animation-duration: .75s
}


@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0)
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0)
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0)
    }

    90% {
        transform: translate3d(0, -4px, 0)
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom
}


@keyframes flash {

    from,
    50%,
    to {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.flash {
    animation-name: flash
}


@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1)
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }

    to {
        transform: scale3d(1, 1, 1)
    }
}

.pulse {
    animation-name: pulse
}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(1.25, 0.75, 1)
    }

    40% {
        transform: scale3d(0.75, 1.25, 1)
    }

    50% {
        transform: scale3d(1.15, 0.85, 1)
    }

    65% {
        transform: scale3d(0.95, 1.05, 1)
    }

    75% {
        transform: scale3d(1.05, 0.95, 1)
    }

    to {
        transform: scale3d(1, 1, 1)
    }
}

.rubberBand {
    animation-name: rubberBand
}



@keyframes shake {

    from,
    to {
        transform: translate3d(0, 0, 0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0)
    }
}

.shake {
    animation-name: shake
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg)
    }

    40% {

        transform: rotate3d(0, 0, 1, -10deg)
    }

    60% {

        transform: rotate3d(0, 0, 1, 5deg)
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg)
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg)
    }
}

.swing {
    transform-origin: top center;
    animation-name: swing
}


@keyframes tada {
    from {
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }

    to {
        transform: scale3d(1, 1, 1)
    }
}

.tada {
    animation-name: tada
}


@keyframes wobble {
    from {
        transform: none
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }

    to {
        transform: none
    }
}

.wobble {
    animation-name: wobble
}


@keyframes jello {

    from,
    11.1%,
    to {
        transform: none
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg)
    }

    77.7% {
        transform: skewX(0.39063deg) skewY(0.39063deg)
    }

    88.8% {
        transform: skewX(-0.19531deg) skewY(-0.19531deg)
    }
}

.jello {
    animation-name: jello;
    transform-origin: center
}

@-webkit-keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3)
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9)
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97)
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3)
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9)
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97)
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

.bounceIn {
    animation-name: bounceIn
}



@keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {

        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }

    0% {
        opacity: 0;

        transform: translate3d(0, -3000px, 0)
    }

    60% {
        opacity: 1;

        transform: translate3d(0, 25px, 0)
    }

    75% {

        transform: translate3d(0, -10px, 0)
    }

    90% {

        transform: translate3d(0, 5px, 0)
    }

    to {

        transform: none
    }
}

.bounceInDown {

    animation-name: bounceInDown
}



@keyframes bounceInLeft {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft
}



@keyframes bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight
}



@keyframes bounceInUp {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp
}



@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9)
    }

    50%,
    55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut
}



@keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0)
    }
}

.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown
}


@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0)
    }
}

.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft
}


@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0)
    }
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight
}



@keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
}

.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp
}



@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}



@keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDownBig {
    animation-name: fadeInDownBig
}



@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInLeft {
    animation-name: fadeInLeft
}



@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInLeftBig {
    animation-name: fadeInLeftBig
}



@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInRight {
    animation-name: fadeInRight
}



@keyframes fadeInRightBig {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInRightBig {
    animation-name: fadeInRightBig
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInUp {
    animation-name: fadeInUp
}



@keyframes fadeInUpBig {
    from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInUpBig {
    animation-name: fadeInUpBig
}


@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.fadeOut {
    animation-name: fadeOut
}



@keyframes fadeOutDown {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
}

.fadeOutDown {
    animation-name: fadeOutDown
}



@keyframes fadeOutDownBig {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0)
    }
}

.fadeOutDownBig {
    animation-name: fadeOutDownBig
}



@keyframes fadeOutLeft {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
}

.fadeOutLeft {
    animation-name: fadeOutLeft
}


@keyframes fadeOutLeftBig {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0)
    }
}

.fadeOutLeftBig {
    animation-name: fadeOutLeftBig
}



@keyframes fadeOutRight {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
}

.fadeOutRight {
    animation-name: fadeOutRight
}



@keyframes fadeOutRightBig {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0)
    }
}

.fadeOutRightBig {
    animation-name: fadeOutRightBig
}



@keyframes fadeOutUp {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
}

.fadeOutUp {
    animation-name: fadeOutUp
}


@keyframes fadeOutUpBig {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0)
    }
}

.fadeOutUpBig {
    animation-name: fadeOutUpBig
}



@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out
    }

    40% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out
    }

    50% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in
    }

    80% {
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        animation-timing-function: ease-in
    }

    to {
        transform: perspective(400px);
        animation-timing-function: ease-in
    }
}

.animated.flip {
    backface-visibility: visible;
    animation-name: flip
}


@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }

    to {
        transform: perspective(400px)
    }
}

.flipInX {
    backface-visibility: visible !important;
    animation-name: flipInX
}



@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }

    to {

        transform: perspective(400px)
    }
}

.flipInY {
    backface-visibility: visible !important;
    animation-name: flipInY
}



@keyframes flipOutX {
    from {
        transform: perspective(400px)
    }

    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1
    }

    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0
    }
}

.flipOutX {
    animation-name: flipOutX;
    backface-visibility: visible !important
}


@keyframes flipOutY {
    from {
        transform: perspective(400px)
    }

    30% {
        transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
        opacity: 1
    }

    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0
    }
}

.flipOutY {
    backface-visibility: visible !important;
    animation-name: flipOutY
}



@keyframes lightSpeedIn {
    from {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0
    }

    60% {
        transform: skewX(20deg);
        opacity: 1
    }

    80% {
        transform: skewX(-5deg);
        opacity: 1
    }

    to {
        transform: none;
        opacity: 1
    }
}

.lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out
}

@keyframes lightSpeedOut {
    from {
        opacity: 1
    }

    to {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0
    }
}

.lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in
}



@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1
    }
}

.rotateIn {
    animation-name: rotateIn
}


@keyframes rotateInDownLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInDownLeft {
    animation-name: rotateInDownLeft
}



@keyframes rotateInDownRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInDownRight {
    animation-name: rotateInDownRight
}


@keyframes rotateInUpLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInUpLeft {
    animation-name: rotateInUpLeft
}



@keyframes rotateInUpRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInUpRight {
    animation-name: rotateInUpRight
}



@keyframes rotateOut {
    from {
        transform-origin: center;
        opacity: 1
    }

    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0
    }
}

.rotateOut {
    animation-name: rotateOut
}



@keyframes rotateOutDownLeft {
    from {
        transform-origin: left bottom;
        opacity: 1
    }

    to {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0
    }
}

.rotateOutDownLeft {
    animation-name: rotateOutDownLeft
}



@keyframes rotateOutDownRight {
    from {
        transform-origin: right bottom;
        opacity: 1
    }

    to {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0
    }
}

.rotateOutDownRight {
    animation-name: rotateOutDownRight
}



@keyframes rotateOutUpLeft {
    from {
        transform-origin: left bottom;
        opacity: 1
    }

    to {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0
    }
}

.rotateOutUpLeft {
    animation-name: rotateOutUpLeft
}



@keyframes rotateOutUpRight {
    from {
        transform-origin: right bottom;
        opacity: 1
    }

    to {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 90deg);
        opacity: 0
    }
}

.rotateOutUpRight {
    animation-name: rotateOutUpRight
}



@keyframes hinge {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out
    }

    20%,
    60% {
        transform: rotate3d(0, 0, 1, 80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out
    }

    40%,
    80% {
        transform: rotate3d(0, 0, 1, 60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1
    }

    to {
        transform: translate3d(0, 700px, 0);
        opacity: 0
    }
}

.hinge {
    animation-name: hinge
}


@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.rollIn {
    animation-name: rollIn
}


@keyframes rollOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg)
    }
}

.rollOut {
    animation-name: rollOut
}



@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    animation-name: zoomIn
}



@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
    }
}

.zoomInDown {
    animation-name: zoomInDown
}



@keyframes zoomInLeft {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
    }
}

.zoomInLeft {
    animation-name: zoomInLeft
}



@keyframes zoomInRight {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
    }
}

.zoomInRight {
    animation-name: zoomInRight
}



@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
    }
}

.zoomInUp {

    animation-name: zoomInUp
}



@keyframes zoomOut {
    from {
        opacity: 1
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3)
    }

    to {
        opacity: 0
    }
}

.zoomOut {
    animation-name: zoomOut
}



@keyframes zoomOutDown {
    40% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    }

    to {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
    }
}

.zoomOutDown {
    animation-name: zoomOutDown
}



@keyframes zoomOutLeft {
    40% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0)
    }

    to {
        opacity: 0;
        transform: scale(0.1) translate3d(-2000px, 0, 0);
        transform-origin: left center
    }
}

.zoomOutLeft {
    animation-name: zoomOutLeft
}



@keyframes zoomOutRight {
    40% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0)
    }

    to {
        opacity: 0;
        transform: scale(0.1) translate3d(2000px, 0, 0);
        transform-origin: right center
    }
}

.zoomOutRight {
    animation-name: zoomOutRight
}



@keyframes zoomOutUp {
    40% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    }

    to {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
    }
}

.zoomOutUp {
    animation-name: zoomOutUp
}



@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

.slideInDown {
    animation-name: slideInDown
}


@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

.slideInLeft {
    animation-name: slideInLeft
}



@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

.slideInRight {
    animation-name: slideInRight
}



@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

.slideInUp {
    animation-name: slideInUp
}



@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0)
    }
}

.slideOutDown {
    animation-name: slideOutDown
}



@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0)
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0)
    }
}

.slideOutLeft {

    animation-name: slideOutLeft
}


@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0)
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0)
    }
}

.slideOutRight {
    animation-name: slideOutRight
}



@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0)
    }
}

.slideOutUp {

    animation-name: slideOutUp
}

.row{
    background-color: #1b66697d;
}

.row .about-me{
background-image:url(../img/bg-2.png)
}

.about-me .bg-me,
.about-me .bg-whatido,
.about-me .bg-facts {
    background-size: cover;
    background-position: center;
    transition: all 1s
}

html,
body {
    color: #383838;
    font-family: 'Lato', Arial;
    font-size: 14px;
    text-rendering: optimizeLegibility
}

@media (min-width: 768px) {

    html,
    body {
        font-size: 16px
    }
}

::selection {
    background-color: #3498db;
    color: white
}


h1 {
    color: white;
    font-size: 250%;
    letter-spacing: 0.25rem
}

@media (min-width: 768px) {
    h1 {
        font-weight: 400;
        font-size: 350%;
        white-space: nowrap
    }
}

h1:after {
    content: ";";
    color: #a9a0ab;
    font-size: 200%;
    margin-left: -5px;
    line-height: 0
}

@media (min-width: 768px) {
    h1:after {
        font-size: 150%;
        margin-left: 2px
    }
}

h2 {
    font-size: 200%;
    font-weight: 300;
    margin: 2rem 0;
    text-align: center
}

@media (min-width: 768px) {
    h2 {
        font-size: 300%
    }
}

h2:after {
    display: block;
    content: "";
    height: 2px;
    width: 6rem;
    background-color: #3498db;
    margin: 15px auto 0 auto
}

h3 {
    padding-right: 1rem;
    font-size: 150%;
    margin: 1rem 0
}

@media (min-width: 768px) {
    h3 {
        font-size: 180%
    }
}

h4 {
    font-size: 120%;
    font-weight: 300;
    text-align: center
}

@media (min-width: 768px) {
    h4 {
        font-size: 140%
    }
}

h4:after {
    display: block;
    content: " ";
    height: 1px;
    width: 3rem;
    background-color: #3498db;
    margin: 10px auto 0 auto
}

a:link,
a:active,
a:hover,
a:visited,
a:focus {
    outline: 0
}

p {
    line-height: 1.75rem;
    font-weight: 300
}

@media (min-width: 768px) {
    p {
        font-size: 120%
    }
}

button {
    background: none;
    border: none;
    outline: 0
}

input:focus {
    outline: 0
}

@media (min-width: 768px) {

    .contact,
    .portfolio,
    .about-me,
    .tools {
        padding: 3rem 0
    }
}

.color-main {
    color: #3498db !important
}

@media only screen and (max-width: 768px) {
    .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        display: none;
        position: fixed;
        top: 0;
        z-index: 4;
        width: 100%;
        height: 100%
    }
}

.button {
    background-color: #3498db;
    font-size: 120%;
    padding: 0.4rem 2.5rem;
    text-transform: uppercase;
    transition: all 0.25s
}

.button:hover {
    background-color: #2980ba
}

.button:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75)
}

.icon-header {
    background-color: grey;
    color: white;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.25rem;
    margin-right: 1rem;
    transition: all 1s;
    text-align: center
}

section:hover>h3>.icon-header,
div:hover>h3>.icon-header {
    -ms-transform: translateY(-15%) rotate(-10deg) scale(1.15);
    -o-transform: translateY(-15%) rotate(-10deg) scale(1.15);
    transform: translateY(-15%) rotate(-10deg) scale(1.15)
}

.loader-screen {
    position: fixed;
    background-color: #191B1D;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15
}

.loader-screen .loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: block;
    list-style: none
}

.loader-screen .loading-line {
    background-color: white;
    display: inline-block;
    margin: 0 -0.25rem;
    height: 1rem;
    width: 1rem;
    animation: loading 0.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite
}

.loader-screen .loading-line:nth-child(1) {
    animation-delay: -0.15s
}

.loader-screen .loading-line:nth-child(2) {
    animation-delay: -0.3s
}

.loader-screen .loading-line:nth-child(3) {
    animation-delay: -0.45s
}

.loader-screen .loading-line:nth-child(4) {
    animation-delay: -0.6s
}

.loader-screen .loading-line:nth-child(5) {
    animation-delay: -0.75s
}




@keyframes loading {
    from {
        -ms-transform: scale(0.2, 0.25);
        -o-transform: scale(0.2, 0.25);
        transform: scale(0.2, 0.25);
        background-color: white
    }

    to {
        -ms-transform: scale(0.1, 2);
        -o-transform: scale(0.1, 2);
        transform: scale(0.1, 2);
        background-color: #3498db
    }
}

@media only screen and (max-width: 768px) {
    .stop-scrolling {
        height: 100%;
        overflow: hidden
    }
}

.dark-container {
    background-color: #191B1D;
    color: white
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tw-caret {
    animation: caretFade 0.35s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
}



@keyframes caretFade {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.social-nav {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 3
}

@media (min-width: 768px) {
    .social-nav {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

.social-nav li {
    display: inline-block;
    font-size: 150%;
    margin: 0 0.5rem
}

.social-nav li span {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%)
}

.social-nav li .social-btn,
.social-nav li .social-fb,
.social-nav li .social-linkedin,
.social-nav li .social-github,
.social-nav li .social-email,
.social-nav li .social-btn:focus,
.social-nav li .social-fb:focus,
.social-nav li .social-linkedin:focus,
.social-nav li .social-github:focus,
.social-nav li .social-email:focus {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.25s
}
/* 
.social-nav li .social-btn:hover,
.social-nav li .social-fb:hover,
.social-nav li .social-linkedin:hover,
.social-nav li .social-github:hover,
.social-nav li .social-email:hover,
.social-nav li .social-btn:focus:hover,
.social-nav li .social-fb:focus:hover,
.social-nav li .social-linkedin:focus:hover,
.social-nav li .social-github:focus:hover,
.social-nav li .social-email:focus:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
} */

/* .social-nav li .social-fb:hover {
    background-color: #3b5998;
    border-color: #3b5998
}

.social-nav li .social-linkedin:hover {
    background-color: #007bb5;
    border-color: #007bb5
}

.social-nav li .social-github:hover {
    background-color: #333;
    border-color: #333
}

.social-nav li .social-email:hover {
    background-color: #3498db;
    border-color: #3498db
} */

.main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../img/fondo-02.jpg) center center;
    background-size: cover;
    box-shadow: inset 0 0.5rem 5rem rgba(0, 0, 0, 0.75);
    height: 100vh;
    padding: 1% 0
}

.main-header .navbar.navbar-sticky {
    background-color: #CDCDCD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    top: -0.75rem !important;
    margin-top: auto !important;
    position: fixed
}

.main-header .navbar.navbar-sticky .nav-link {
    color: #383838
}

.main-header .navbar.navbar-sticky .logo-white {
    display: none !important
}

.main-header .navbar.navbar-sticky .logo-dark {
    display: block !important
}

.main-header .navbar {
    background-color:rgba(46, 25, 46, 0.637);
    border: none !important;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    animation-duration: 0.5s;
    min-height: auto !important;
    overflow: hidden;
    margin-top: -1rem;
    position: relative;
    z-index: 5;
    padding: 0
}

@media (min-width: 768px) {
    .main-header .navbar {
        background-color: transparent;
        box-shadow: none;
        color: white;
        margin-top: auto
    }
}

.main-header .navbar .logo {
    border: none !important;
    padding-top: 1rem !important;
    font-size: 16px !important
}

.main-header .navbar .logo:hover {
    color: #383838
}

.main-header .navbar .logo-img {
    float: left;
    margin: -0.75rem 0.75rem 0 0;
    width: 42px;
    height: 42px
}

.main-header .navbar .logo-white {
    display: none
}



@media (min-width: 768px) {
   
    .main-header .navbar .logo-white {
        display: block
    }

}

.main-header .navbar .logo-dark {
    display: block
}

@media (min-width: 768px) {
    .main-header .navbar .logo-dark {
        display: none
    }
}

.main-header .navbar .nav-link {
    background-color: transparent;
    /* border-top: 1px solid grey; */
    color:#9f9d93;
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 0.05rem;
    padding: 0.75rem;
    text-transform: uppercase;
    transition: color 0.25s
}

.main-header .navbar .nav-link:hover {
    color: #F0DB4F;
}

@media (min-width: 768px) {
    .main-header .navbar .nav-link {
        border: none;
        color: white
    }
   

}

.main-header .navbar .nav-toggle-btn {
    border-left: 1px solid #f0db4f85;
    float: right;
    font-size: 215%;
    height: 3.6rem;
    padding: 0.4em 0.7em;
    transition: color 0.25s;
}

.main-header .navbar .nav-toggle-btn .nav-open {
    position: absolute
}

.main-header .navbar .nav-toggle-btn .nav-close {
    opacity: 0
}

.main-header .navbar .nav-toggle-btn:hover {
    color: #F0DB4F
}

@media (min-width: 768px) {
    .main-header .navbar .nav-toggle-btn {
        display: none
    }
}

.main-header .navbar ul {
    margin-bottom: 0;
    margin-top: 0
}

@media (min-width: 768px) {
    .main-header .navbar ul li {
        margin-top: 6px
    }
}

.main-header .navbar ul li.active a {
    color:rgb(46, 25, 46) !important
}

.main-header .navbar .collapse,
.main-header .navbar .collapsing {
    border: none
}

.main-header .welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35)
}

.main-header .welcome-box h1 {
    opacity: 0
}

@media (min-width: 768px) {
    .main-header .welcome-box h1 {
        padding-top: 0.5rem
    }
}

.main-header .welcome-box p {
    color: white;
    font-weight: 100;
    font-size: 90%;
    letter-spacing: 0.1rem
}

@media (min-width: 768px) {
    .main-header .welcome-box p {
        font-size: 150%
    }
}

.main-header .particles-js-canvas-el {
    position: absolute;
    top: 0
}

.about-me section {
    padding: 0 1rem;
    background-color: #1b66697d;
}

@media (min-width: 992px) {
    .about-me section {
        padding: 3rem
    }
}

@media (min-width: 992px) {
    .about-me h2 {
        margin-bottom: 3rem
    }
}

.about-me .feats-row {
    overflow: hidden
}

.about-me .bg-me {
    background-image: url();
    height: 25rem;
    margin-bottom: 2rem
}

@media (min-width: 992px) {
    .about-me .bg-me {
        height: 30rem;
        margin-bottom: -10rem
    }
}

.about-me .bg-whatido {
    background-image: url();
    height: 25rem;
    margin-bottom: -10rem
}

.about-me .bg-facts {
    background-image: url();
    height: 28rem;
    margin-bottom: -10rem
}

.about-me .feat-bg {
    filter: grayscale(100%);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25)
}

.about-me .row:hover .feat-bg {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.about-me ul li {
    font-weight: 300
}

@media (min-width: 768px) {
    .about-me ul li {
        font-size: 120%
    }
}

.tools-row {
    margin-top: 2rem
}

@media (min-width: 992px) {
    .tools-row {
        margin-top: 0
    }
}

.tools {
    padding-bottom: 2rem
}

.tools .skill-box {
    padding: 0 2.5rem
}

@media (min-width: 768px) {
    .tools .skill-box {
        margin-top: 1rem;
        padding: 0 2.5rem
    }
}

.tools .skill-box h3 {
    margin: 0;
    white-space: nowrap
}

.tools .skill-box p {
    padding: 1rem 0
}

.tools .libs-showcase {
    display: none;
    list-style: none;
    margin: 1rem 0 0 0;
    width: 100%;
    margin-left: -20px
}

@media (min-width: 768px) {
    .tools .libs-showcase {
        display: block
    }
}

.tools .libs-showcase li {
    display: inline-block;
    width: 17.5%;
    float: left;
}

.tools .libs-showcase li:nth-child(3) {
    width: 30%;
    padding: 1.8rem 0
}

@media (min-width: 992px) {
    .tools .libs-showcase li:nth-child(3) {
        padding: 2.5rem 0
    }
}

.tools .libs-showcase li:nth-child(4) {
    padding: 1.25rem
}

.tools .libs-showcase li:nth-child(5) {
    padding-top: 0.7rem
}

.tools .libs-showcase img {
    width: 100%
}

@media (min-width: 768px) {
    .tools .libs-showcase img {
        padding: 1rem
    }
}

.portfolio .portfolio-nav {
    display: block;
    width: 22rem;
    margin: 0 auto;
    text-align: center
}

@media (min-width: 768px) {
    .portfolio .portfolio-nav {
        width: 28rem
    }
}

.portfolio .portfolio-nav li {
    border: 1px solid #3498db;
    border-right: 0;
    display: inline-block;
    cursor: pointer;
    margin: 0 !important;
    padding: 0.75rem;
    width: 5.5rem;
    transition: all 0.25s
}

@media (min-width: 768px) {
    .portfolio .portfolio-nav li {
        width: 7rem
    }
}

.portfolio .portfolio-nav li:last-child {
    border-right: 1px solid #3498db
}

.portfolio .portfolio-nav .active-tab,
.portfolio .portfolio-nav li:hover {
    background-color: #3498db;
    color: white
}

.portfolio .showcase-container {
    margin-top: 2rem;
    margin-bottom: 1rem
}

@media (min-width: 1200px) {
    .portfolio .showcase-container {
        transition: height 0.5s ease-out
    }
}

.portfolio .showcase-container .filteredOut {
    z-index: -1
}

.portfolio .showcase-container .showcase-item {
    color: white;
    font-size: 90%;
    padding: 0.9rem 1rem;
    position: relative
}

@media (min-width: 992px) {
    .portfolio .showcase-container .showcase-item {
        font-size: 100%
    }
}

.portfolio .showcase-container .showcase-item a:link,
.portfolio .showcase-container .showcase-item a:active,
.portfolio .showcase-container .showcase-item a:hover,
.portfolio .showcase-container .showcase-item a:visited {
    color: white;
    text-decoration: none
}

.portfolio .showcase-container .showcase-item .showcase-img {
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
}

.portfolio .showcase-container .showcase-item .item-desc {

    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.25s;
    top: 0.9rem;
    left: 1rem;
    right: 1rem;
    bottom: 0.9rem
}

.portfolio .showcase-container .showcase-item .button {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;

    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media (min-width: 768px) {
    .portfolio .showcase-container .showcase-item .button {
        bottom: 1rem
    }
}

.portfolio .showcase-container .showcase-item .preview-btn {

    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    left: 15%
}

@media (min-width: 768px) {
    .portfolio .showcase-container .showcase-item .preview-btn {

        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
        transform: translateX(-25%);
        left: 25%
    }
}

.portfolio .showcase-container .showcase-item .github-btn {

    -ms-transform: translateX(-85%);
    -o-transform: translateX(-85%);
    transform: translateX(-85%);
    left: 85%
}

@media (min-width: 768px) {
    .portfolio .showcase-container .showcase-item .github-btn {
        -ms-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        transform: translateX(-75%);
        left: 75%
    }
}

.portfolio .showcase-container .showcase-item:hover .item-desc {

    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1
}

.contact-row {
    margin-top: 2rem
}

.contact {
    text-align: center
}

.contact form .row {
    margin: 1rem
}

.contact input,
.contact textarea {
    background-color: #202325;
    border: 1px solid #191B1D;
    color: white;
    text-transform: uppercase;
    transition: all 0.25s;
    padding: 0.75rem;
    width: 90%
}

@media (min-width: 768px) {

    .contact input,
    .contact textarea {
        width: 60%
    }
}

.contact input:focus,
.contact textarea:focus {
    border: 1px solid #3498db
}

.contact #form-msg {
    height: 8rem
}

.footer-main {
    color: #959595;
    font-size: 85%;
    letter-spacing: 0.075rem;
    padding: 0.25rem 0;
    text-align: center
}

@media (min-width: 768px) {
    .footer-main {
        padding: .25rem 0 2rem 0
    }
}

.not-found-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35)
}

.not-found-msg p {
    font-size: 120%
}

#a2-logo {
    animation-delay: 0.25s
}

#a3-logo {
    animation-delay: 0.5s
}

#a4-logo {
    animation-delay: 0.75s
}

#a5-logo {
    animation-delay: 1s
}

/* presentacion de about-me */

.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
}


.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}

.ss-left, .ss-right{
   
    position: relative;
}
.ss-right{
    padding-left: 2%;
    padding-top: 5%;
}

.ss-right p{
   
    font-weight: 400;
    color: white
}

.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}

.ss-container h3{
    margin-top: 34px;
	padding: 10px 15px;
	background: rgba(26, 27, 33, 0.6);
}

.ss-circle{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
    box-shadow: 
		0px 2px 5px rgba(0,0,0,0.7) inset, 
		0px 0px 0px 12px rgba(61,64,85,0.3);
	background-size: cover;
   
	background-repeat: no-repeat;
	background-position: center center;
}



.ss-medium .ss-circle{
	width: 275px;
    height:275px;
    margin-top: 2.5em;
}

.ss-left .ss-circle{
  
    margin-right: 8%;
}

.ss-circle-deco:before{
	width: 29%;
	height: 0px;
	position: absolute;
	top: 50%;
	content: '';
	margin-top: -3px;
}

.ss-left .ss-circle-deco:before{
    right: 2%;   
}

.ss-circle-deco:after{
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.ss-container .ss-medium h3{
	margin-top: 82px;
}

.ss-container .ss-right h3{
	border-left: 5px solid rgba(164,166,181,0.8);
}

.ss-container h3 span{
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.ss-container h3 a{
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
}
.ss-container h3 a:hover{
	color: rgba(255,255,255,1);
}

/* Hover and Click Trigger for Circular Elements with jQuery */

.ec-circle{
    background-image: url(../img/InkedAbout-Me_LI.jpg);
	-webkit-border-radius: 210px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	font-family:'Kelly Slab', Georgia, serif;
	box-shadow: 
		inset 0 0 1px 230px rgba(0, 0, 0, 0.219),
		inset 0 0 0 7px #1b6669;
	transition: box-shadow 400ms ease-in-out;
	display: block;
	outline: none;
}


.ec-circle:hover{
    background-image: url(../img/GithubProfile.jpg);
    box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #1b66697d,
		0 0 10px rgba(0,0,0,0.3);
}


/* contactame */
.tt-wrapper{
    padding-left: 0em;
    justify-content: center;
    list-style:none;
}

.tt-wrapper li a{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 2px;
	outline: none;
	position: relative;
}

.tt-wrapper li a span{
	width: 100px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	left: 50%;
	margin-left: -64px;
	font-family: 'Lato', Georgia, serif;
	font-weight: 400;	
	font-style: italic;
	font-size: 14px;
	color: #719DAB;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #fff;
	background: rgba(255,255,255,0.3);
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
    pointer-events: none;
	bottom: 100px;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	transition: all 0.3s ease-in-out;
}

.tt-wrapper li a span:before,
.tt-wrapper li a span:after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}

.tt-wrapper li a span:after{
	bottom: -14px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}

.tt-wrapper li a:hover span{
	opacity: 0.9;
	bottom: 70px;
}

.letras{
    color:white !important;
    font-weight: 300 !important;
    font-size: 1.3em !important;
    background-color: #562750e0 !important;
}

/* aboutme text  */
.caja{
  margin: 0 auto;
  padding: 2px;
  background-color: #1b6669; /* gold */
  background-repeat: no-repeat;
  margin-top: 1.5em;
}

.contenido
{
  background:#c6c6c7;
  padding: 2em;
  text-align: center;
  margin-top: 1em;
 
}

.showcase-img{
    display: block !important;
    max-width: 100% !important;
    height: auto !important;
}